/* ------------------------------------------------------------------
                    ***     Mobile Size Style        ***
--------------------------------------------------------------------- */


/* 1-1 Genral Info Section */

.section-header {
    padding: 0 2rem;
    font-size: 1.4rem;
    color: var(--font-color);
}

.all-info {
    background-color: var( --light-gray-2);
    height: 12rem;
    width: 92%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem auto;
}

.info-head {
    display: flex;
    margin-left: 2.3rem;
}

.country-img {
    width: 2rem;
    height: 1.5rem;
    margin-right: 1rem;
    border-radius: 5px;
}

.coun-name {
    font-size: 1.4rem;
}

.info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    font-size: 1.3rem;
}

.row-info {
    display: flex;
    margin-top: 4vh;
}

.icons {
    color: #0d161d;
    opacity: 30%;
    font-size: 1.3rem;
    padding-right: 3vw;
}


/* 1-2 Universities Cards Section Style */

.uni-container {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 97%;
    margin-top: 2rem;
}

.card-btn {
    border-radius: 16px;
    padding: 30px 10px;
    margin: 0 10px 15px 15px;
    height: 120px;
    border: none;
}

.card-btn:nth-child(odd) {
    background-color: var(--odd-cards);
}

.card-btn:nth-child(even) {
    background-color: var(--even-cards);
}

.card p {
    position: relative;
    font-size: 1rem;
    top: 8px;
    color: var(--font-color);
}

.card-btn:nth-child(even) .far {
    color: var( --even-icon-color);
}

.card-btn:nth-child(odd) .far {
    color: var( --odd-icon-color);
}

i.far.fa-school {
    position: relative;
    left: 45px;
    bottom: 20px;
    font-size: 1.5rem;
}