/* ------------------------------------------------------------------
                          [Table of contents]
         ***     01.  ===>   Root Variable And Font Family  ***
         ***     02.  ===>   Global Style    ***
         ***     03.  ===>       ***
--------------------------------------------------------------------- */

/* Root Variable */
:root {
    --primary-color: #ff6d63;
    --primary-nav-item-color: #e4867f;
    --font-color: #0d161d;
    --odd-icon-color: #ff9d95;
    --even-icon-color: #bfcdff;
    --white: #ffffff;
    --light-gray: #e4e4e4;
    --light-gray-2: #f0f0f0;
    --black: #000000;
}

/* Font Family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap");

/* ------------------------------------------------------------------
                    ***     Global Style        ***
--------------------------------------------------------------------- */
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

p,
div {
    margin: 0;
}

li,
ul,
ol {
    list-style: none;
}

select,
button,
button:focus,
input,
input:focus textarea,
textarea:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: none;
    cursor: pointer;
}

/* -------------------------------------------
            Nav Bar Style
------------------------------------------------ */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    position: relative;
    height: 10vh;
}

.logo > a {
    text-decoration: none;
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 16px;
    transition: all ease-in-out 0.3s;
}
.logo:hover > a {
    color: var(--odd-icon-color);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-item > a {
    padding: 10px 15px;
    color: var(--odd-icon-color);
    border-radius: 5px 0px 5px 0;
    transition: all ease-in-out 0.3s;
    font-size: 20px;
    line-height: 16px;
    font-style: normal;
    font-weight: bold;
}

.nav-item > a:hover,
.nav-active {
    padding: 10px 15px !important;
    color: var(--white) !important;
    background-color: var(--odd-icon-color) !important;
    border-radius: 5px 0px 5px 0 !important;
}

.nav-list-container {
    position: relative;
}


.bar {
    display: none;
}

/* -------------------------
         media Query 
---------------------------- */

/* display windows less than 800px */
@media (max-width: 800px) {
    .navbar-container {
        padding: 30px 50px;
    }
}

/* display windows less than 600px */
@media (max-width: 600px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        background: var(--light-gray);
        border-radius: 16px 0px 16px 16px;
    }
    .nav-item {
        margin: 30px auto;
    }

    .nav-list-container {
        width: 40%;
        height: 30px;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right: 50px;
    }

    .nav-item > a {
        padding: 10px 15px;
        color: var(--black);
    }

    .nav-item > a:hover,
    .nav-active {
        padding: 10px 15px !important;
        color: var(--black) !important;
        background-color: var(--light-gray-2) !important;
    }

    .bar {
        display: flex;
    }
    .bar > img {
        width: 100%;
        height: 100%;
    }
    .nav-list-hide {
        display: none;
    }
}

/* display windows less than 380px */
@media (max-width: 380px) {
    body {
        min-width: 380px;
    }
}
