/* ------------------------------------------------------------------
                          [Table of contents]
         ***     01.  ==>   Root Variables And Font Family 
         ***     02.  ==>   General Style   
         ***     03.  ==>   Navbar Style   
         ***     04.  ==>   Mobile Size
                             4-1 Cover image Style
                             4-2 Texts Style
                             4-3 Button Style
         ***     05.  ==>    Media Query
                             5-1 Tablet Size
                             5-2 Laptop Size
                             5-3 Navbar media Query
--------------------------------------------------------------------- */


/* Root Variables */

:root {
    --primary-color: #FF6D63;
    --font-color: #0D161D;
    --odd-icon-color: #FF9D95;
    --even-icon-color: #BFCDFF;
    --odd-cards: #FFE7E5;
    --even-cards: #ECFCEE;
    --primary-nav-item-color: #e4867f;
    --gray: #A8A6A6;
    --light-gray: #e4e4e4;
    --light-gray-2: #f0f0f0;
    --black: #000000;
    --white: #ffffff;
}


/* Font Family */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap');

/* ------------------------------------------------------------------
                    ***     General Style        ***
--------------------------------------------------------------------- */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--white);
}

p,
div {
    margin: 0;
}

li,
ul,
ol {
    list-style: none;
}

select,
button,
button:focus,
input,
input:focus textarea,
textarea:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: none;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


/* -------------------------------------------
            Nav Bar Style
------------------------------------------------ */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    position: relative;
    height: 10vh;
}

.logo>a {
    text-decoration: none;
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 16px;
    transition: all ease-in-out 0.3s;
}

.logo:hover>a {
    color: var(--odd-icon-color);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-item>a {
    padding: 10px 15px;
    color: var(--odd-icon-color);
    border-radius: 5px 0px 5px 0;
    transition: all ease-in-out 0.3s;
    font-size: 20px;
    line-height: 16px;
    font-style: normal;
    font-weight: bold;
}

.nav-item>a:hover,
.nav-active {
    padding: 10px 15px !important;
    color: var(--white) !important;
    background-color: var(--odd-icon-color) !important;
    border-radius: 5px 0px 5px 0 !important;
}

.nav-list-container {
    position: relative;
}

.bar {
    display: none;
}


/* ------------------------------------------------------------------
                    ***     Mobile Size Style        ***
--------------------------------------------------------------------- */


/* 4-1 Cover image Style */

.cover-img {
    margin-top: 3rem;
}


/* 4-2 Texts Style */

.main-text {
    font-size: 1.4rem;
    text-align: center;
    padding: 25px 25px 0 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.more-text {
    font-size: 1.2rem;
    color: var(--gray);
    line-height: 28px;
    text-align: justify;
    padding: 25px 20px 25px 20px;
}


/* 4-3 Button Style */

.start-btn {
    background-color: var(--primary-color);
    margin: auto;
    width: 80%;
    height: 4.5rem;
    border-radius: 16px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
}

.start-btn:hover {
    background-color: var(--gray);
    color: var(--white);
}


/* ------------------------------------------------------------------
                    ***     Responsive Style        ***
--------------------------------------------------------------------- */


/* 5-1 Tablet Size */

@media (min-width:498px) and (max-width:780px) {
    .cover-img {
        margin-top: 1rem;
        width: 100vw;
    }
    .welcome-img {
        width: 70%;
    }
    .more-text {
        font-size: 1.3rem;
        padding: 25px 80px 25px 80px;
    }
    .main-text {
        padding: 25px 70px 0 70px;
    }
}


/* 5-2 Laptop Size */

@media (min-width:781px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        width: fit-content;
    }
    .right {
        height: 100vh;
        background-color: var(--primary-color);
    }
    .cover-img {
        margin: 0 auto;
    }
    .welcome-img {
        height: 35rem;
        object-fit: cover;
    }
    .main-text {
        font-size: 2rem;
        color: var(--white);
        text-align: left;
        padding: 0;
        line-height: 35px;
    }
    .more-text {
        color: var(--white);
        padding: 1.5rem 0 0 0;
        line-height: 35px;
    }
    .welcome-texts {
        margin: auto;
        width: 60%;
        margin-top: 10rem;
    }
    .start-btn {
        background-color: var(--white);
        color: var(--primary-color);
        font-weight: 900;
        margin-top: 2rem;
        width: 70%;
    }
    .start-btn:hover {
        background-color: var(--light-gray);
        color: var(--primary-color);
    }
}


/* 5-3 Navbar media Query */


/* display windows less than 800px */

@media (max-width: 800px) {
    .navbar-container {
        padding: 30px 33px;
    }
}


/* display windows less than 600px */

@media (max-width: 600px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        background: var(--light-gray);
        border-radius: 16px 0px 16px 16px;
    }
    .nav-item {
        margin: 30px auto;
    }
    .nav-list-container {
        width: 40%;
        height: 30px;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right: 50px;
    }
    .nav-item>a {
        padding: 10px 15px;
        color: var(--black);
    }
    .nav-item>a:hover,
    .nav-active {
        padding: 10px 15px !important;
        color: var(--black) !important;
        background-color: var(--light-gray-2) !important;
    }
    .bar {
        display: flex;
    }
    .bar>img {
        width: 100%;
        height: 100%;
    }
    .nav-list-hide {
        display: none;
    }
}


/* display windows less than 380px */

@media (max-width: 380px) {
    body {
        min-width: 380px;
    }
}