/* ------------------------------------------------------------------
                          [Table of contents]
        ***     01.  ==>   Root Variables And Font Family 
        ***     02.  ==>   General Style   
        ***     03.  ==>   Navbar Style   
        ***     04.  ==>   Mobile Size
                             4-1 Cover image Style
                             4-2 Texts Style
                             4-3 Button Style
        ***     05.  ==>    Media Query
                             5-1 Tablet Size
                             5-2 Laptop Size
                             5-3 Navbar media Query
        ***     06.  ==>   Navbar media Query             
        ***     07.  ==>   Section Body Search    
--------------------------------------------------------------------- */

/* Root Variables */

:root {
    --primary-color: #ff6d63;
    --font-color: #0d161d;
    --odd-icon-color: #ff9d95;
    --overlay-color: #8f615d7a;
    --even-icon-color: #bfcdff;
    --primary-nav-item-color: #e4867f;
    --gray: #a8a6a6;
    --light-gray: #e4e4e4;
    --light-gray-2: #f0f0f0;
    --black: #000000;
    --white: #ffffff;
    --shadow-color: #41414185;
    --input-color: #a6a6a6;
    --odd-cards: #ffe7e5;
    --even-cards: #ecfcee;
}

/* Font Family */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;700&display=swap");

/* ------------------------------------------------------------------
                    ***     General Style        ***
--------------------------------------------------------------------- */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    overflow-x: hidden;
}

p,
div {
    margin: 0;
}

li,
ul,
ol {
    list-style: none;
}

select,
button,
button:focus,
input,
input:focus textarea,
textarea:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

img,
svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    border: none;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* -------------------------------------------
            Nav Bar Style
------------------------------------------------ */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    position: relative;
    height: 10vh;
}

.navbar-logo > a {
    text-decoration: none;
    color: var(--primary-color);
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 16px;
    transition: all ease-in-out 0.3s;
}

.navbar-logo:hover > a {
    color: var(--odd-icon-color);
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-item > a {
    padding: 10px 15px;
    color: var(--odd-icon-color);
    border-radius: 5px 0px 5px 0;
    transition: all ease-in-out 0.3s;
    font-size: 20px;
    line-height: 16px;
    font-style: normal;
    font-weight: bold;
}

.nav-item > a:hover,
.nav-active {
    padding: 10px 15px !important;
    color: var(--white) !important;
    background-color: var(--odd-icon-color) !important;
    border-radius: 5px 0px 5px 0 !important;
}

.nav-list-container {
    position: relative;
}

.bar {
    display: none;
}

/* ------------------------------------------------------------------
                    ***     Mobile Size Style        ***
--------------------------------------------------------------------- */

/* 4-1 Cover image Style */

.cover-img {
    margin-top: 3rem;
}

/* 4-2 Texts Style */

.main-text {
    font-size: 1.4rem;
    text-align: center;
    padding: 25px 25px 0 25px;
    font-weight: 900;
    text-transform: uppercase;
}

.more-text {
    font-size: 1.2rem;
    color: var(--gray);
    line-height: 28px;
    text-align: justify;
    padding: 25px 20px 25px 20px;
}

/* 4-3 Button Style */

.start-btn {
    background-color: var(--primary-color);
    margin: auto;
    width: 80%;
    height: 4.5rem;
    border-radius: 16px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: bold;
}

.start-btn:hover {
    background-color: var(--gray);
    color: var(--white);
}

/* ------------------------------------------------------------------
                    ***     Responsive Style        ***
--------------------------------------------------------------------- */

/* 5-1 Tablet Size */

@media (min-width: 498px) and (max-width: 780px) {
    .cover-img {
        margin-top: 1rem;
        width: 100vw;
    }
    .welcome-img {
        width: 60%;
    }
    .more-text {
        font-size: 1.3rem;
        padding: 25px 80px 25px 80px;
    }
    .main-text {
        padding: 25px 70px 0 70px;
    }
}

/* 5-2 Laptop Size */
@media (min-width: 781px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
        width: fit-content;
    }
    .right {
        height: 100vh;
        background-color: var(--primary-color);
    }
    .cover-img {
        margin: 0 auto;
    }
    .welcome-img {
        height: 35rem;
        object-fit: cover;
    }
    .main-text {
        font-size: 2rem;
        color: var(--white);
        text-align: left;
        padding: 0;
        line-height: 35px;
    }
    .more-text {
        color: var(--white);
        padding: 1.5rem 0 0 0;
        line-height: 35px;
    }
    .welcome-texts {
        margin: auto;
        width: 60%;
        margin-top: 10rem;
    }
    .start-btn {
        background-color: var(--white);
        color: var(--primary-color);
        font-weight: 900;
        margin-top: 2rem;
        width: 60%;
    }
    .start-btn:hover {
        background-color: var(--light-gray);
        color: var(--primary-color);
    }
}

/* ------------------------------------------------------------------
                    ***       Navbar media Query         ***
--------------------------------------------------------------------- */

/* display windows less than 800px */

@media (max-width: 800px) {
    .navbar-container {
        padding: 30px 33px;
    }
}

/* display windows less than 600px */

@media (max-width: 600px) {
    .nav-list {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 200px;
        background: var(--light-gray);
        border-radius: 16px 0px 16px 16px;
    }
    .nav-item {
        margin: 30px auto;
    }
    .nav-list-container {
        width: 40%;
        height: 30px;
        flex-direction: column;
        position: absolute;
        top: 10vh;
        right: 50px;
        z-index: 999;
    }
    .nav-item > a {
        padding: 10px 15px;
        color: var(--black);
    }
    .nav-item > a:hover,
    .nav-active {
        padding: 10px 15px !important;
        color: var(--black) !important;
        background-color: var(--light-gray-2) !important;
    }
    .bar {
        display: flex;
    }
    .bar > img {
        width: 100%;
        height: 100%;
    }
    .nav-list-hide {
        display: none;
    }
}

/* ----------------------------------------------
        Section Body Search
---------------------------------------------------
*/

.body-search {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 50px 100px;
    position: relative;
    height: 90vh;
    gap: 30px;
}

/* First section - left section */
.search-form {
    flex: 50%;
    display: flex;
    flex-direction: column;
}
.search {
    position: relative;
    height: 50px;
    width: 450px;
    margin: 0 auto;
    display: flex;
}
.search-btn {
    margin-left: 10px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: var(--white);
    font-size: 1.1rem;
    padding: 5px 15px;
    font-weight: bold;
}

.search > .fa-search {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translate(0, -50%);
    font-size: 20px;
    color: var(--input-color);
}

.search > .country-input {
    padding: 15px 15px 15px 45px;
    height: 50px;
    width: 100%;
    box-shadow: 1px 1px 5px 2px var(--shadow-color);
    border-radius: 10px;
    font-size: 20px;
    color: var(--input-color);
}

/*  2020 Cross-browser consistent approach  */
.search > .country-input.dark {
    background: var(--black);
    color: var(--white);
}

.search > .country-input.light {
    background: var(--white);
    color: var(--black);
}

.search > .country-input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    border-radius: 50em;
    background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg)
        no-repeat 50% 50%;
    background-size: contain;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.search > .country-input:focus::-webkit-search-cancel-button {
    opacity: 0.3;
    pointer-events: all;
}

.search > .country-input.dark::-webkit-search-cancel-button {
    filter: invert(1);
}

/*  End  2020 Cross-browser consistent approach  */

.search > .country-input::placeholder {
    border-radius: 10px;
    font-size: 18px;
    color: var(--input-color);
}

.search-logo {
    text-align: center;
}

.search-logo > svg {
    max-width: 410px;
    margin: 0 auto;
}

/* other section - right section */
.popular-country {
    flex: 50%;
    width: 100%;
    padding-bottom: 15px;
}

.countries {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.country {
    position: relative;
    overflow: hidden;
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    transition: all ease-in-out 0.3s;
    animation: AnimationXAxis calc(0.6s * var(--i)) ease-in-out;
}
@keyframes AnimationXAxis {
    0% {
        opacity: 0;
        transform: translateX(100vw) scale(0);
    }
}

.country-name {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    background: var(--overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 2.5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    text-transform: capitalize;
}

.country:hover .country-name {
    opacity: 1;
    visibility: visible;
    z-index: 99;
    border-radius: 0;
}

.country-image {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border-radius: 15px !important;
    transition: all ease-in-out 0.5s;
}
.country:hover .country-image {
    transform: scale(1.7) rotate(15deg);
}

@media (max-width: 1470px) {
    .countries {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
        gap: 5px;
    }

    .country:nth-child(5),
    .country:nth-child(6) {
        display: none;
    }
    .country-name {
        width: 100%;
        max-width: none;
    }

    .country,
    .country-image {
        width: 250px;
        height: 200px;
        max-width: 250px;
        max-height: 200px;
    }
}
@media (max-width: 1240px) {
    .countries {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
        gap: 15px;
    }

    .country,
    .country-image {
        width: 100%;
        height: 200px;
        max-width: 100%;
        max-height: 200px;
    }
}

@media (max-width: 1095px) {
    .country:nth-child(3),
    .country:nth-child(4),
    .country:nth-child(5),
    .country:nth-child(6) {
        display: none;
    }
}

@media (max-width: 900px) {
    .body-search {
        display: flex;
        justify-content: none;
        align-items: center;
        flex-direction: column;
        padding: 50px 10px;
        position: relative;
        height: 90vh;
        gap: 30px;
    }

    .search {
        position: relative;
        height: 50px;
        width: 100%;
        margin: 0 auto;
    }

    .country-name {
        width: 100%;
        max-width: none;
    }

    .country-input {
        width: 100%;
    }
    .search-logo > svg {
        width: 100%;
        height: 100%;
        min-width: none;
        margin: 0 auto;
    }

    .popular-country,
    .search-form {
        width: 90%;
    }

    .country:nth-child(3),
    .country:nth-child(4),
    .country:nth-child(5),
    .country:nth-child(6) {
        display: block;
    }
}

/* ----------------------------------------------------------
    Animation SVG
------------------------------------------------------------- */

#other-location-1 {
    animation: other-location-1 1s ease-in-out infinite alternate 0.2s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes other-location-1 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(45%);
    }
}
#other-location-2 {
    animation: other-location-2 1s ease-in-out infinite alternate 0.8s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes other-location-2 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(25%);
    }
}

#plan {
    animation: planAnimation 4s infinite forwards 1.2s;
    transform-origin: center;
    transform-box: fill-box;
}
@keyframes planAnimation {
    0% {
        transform: translateY(0%) translateX(0%);
        opacity: 1;
    }

    70% {
        transform: translateY(-60%) translateX(-60%);
    }

    100% {
        transform: translateY(-60%) translateX(-60%);
        opacity: 0;
    }
}

/* --------------  welcome SVG Animation ----------- */

#location-7,
#location-1 {
    animation: debounceLocation-7 1s ease-in-out infinite alternate 0.2s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes debounceLocation-7 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(45%);
    }
}

#location-6,
#location-2 {
    animation: debounceLocation-6 2s ease-in-out infinite alternate 0.8s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes debounceLocation-6 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(30%);
    }
}

#location-5,
#location-3 {
    animation: debounceLocation-6 3s ease-in-out infinite alternate 1.4s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes debounceLocation-6 {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(40%);
    }
}

#location-s {
    animation: debounceLocation-s 4s ease-in-out infinite alternate 2s;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes debounceLocation-s {
    from {
        transform: translateY(0%);
    }
    to {
        transform: translateY(40%);
    }
}

.appear {
    animation: appear 2s ease-in-out calc(0.2s * var(--i)),
        AnimationAppear calc(0.6s * var(--i)) ease-in-out;
}

@keyframes AnimationAppear {
    0% {
        opacity: 0;
        transform: translateX(50vw) scale(0);
    }
}

.appear-after-1-sec {
    animation: appear 2s ease-in-out;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
